body{
    background-color: #839ec2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
label{
    font-weight: bold;
}
section{
    background-color: #9fbfe9;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0);
}
input[type="text"], input[type="number"]{
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}
button{
    border-radius: 10px;
    font-size: medium;
}
button.ejecutar{
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
button.ejecutar:hover{
    background-color: #218838;
}
pre#resultado{
    background-color: #b5cdec;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.637);
    border-radius: 10px;
    padding: 10px;
    overflow-x: auto;
    margin:  auto;
    width: 700px;
    height: 200px;
    font-size: large;
}
